@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap);

:root {
    --green: #99E002;
    --line-gradient: linear-gradient(to right, #ff871f, #2600ff, #00ff84, #ff871f);
    --text: #fff;
}

html,
body {
    margin: 0;
    height: 100%;
}

* {
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121212;
    background-image: linear-gradient(rgba(25, 25, 25, 0.3) 1.5px, transparent 1.5px), linear-gradient(90deg, rgba(25, 25, 25, 0.3) 1.5px, transparent 1.5px);
    background-size: 4px 4px;
    background-position: -1px -1px;
    flex: 1;
}

.g {
    color: var(--green);
}

.t {
    color: var(--text);
}

.wgt-200 {
    font-weight: 200;
}

.wgt-500 {
    font-weight: 500;
}

.title {
    font-size: 300%;
    margin: 5px 0;
    margin-top: 15px;
}

.slogan {
    font-size: 150%;
}

.welc {
    margin-top: 5px;
    font-size: 250%;
}

.gradientLine {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 0;
}

.shadowBefore,
.lineAfter {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--line-gradient);
    background-size: 200% 100%;
    animation: gradientLineAnimation 6s infinite linear;
}

@keyframes gradientLineAnimation {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    75% {
        background-position: 100% 0;
    }
}

.shadowBefore {
    filter: blur(5px);
}

.top-cont {
    width: 100%;
    display: flex;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 40px;
    margin-top: 20px;
}

.about .left,
.about .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about .left {
    margin-right: 40px;
    justify-content: center;
}

.about .right {
    align-items: flex-end;
}

.left-title {
    font-size: 300%;
}

.left-text {
    font-size: 210%;
}

.preview {
    width: 90%;
}

.buttons {
    margin: 30px 0;
}

button {
    padding: 5px 20px;
    background: #222;
    color: #fff;
    border: 1.9px solid #2e2e2e;
    box-shadow: 0px 0px 3px -0.5px rgba(0, 0, 0, 1) inset;
    cursor: pointer;
    margin-right: 20px;
    font-size: 120%;
}

.stats-cont,
.advantages-cont,
.video-overview-cont {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.video-overview-cont {
    width: 100%;
    align-items: center;
}

.stats-title,
.advantages-title,
.video-overview-title {
    font-size: 200%;
    margin-bottom: 10px;
    text-align: center;
}

.stats,
.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stat,
.advantage {
    display: flex;
    align-items: center;
    border: 1.9px solid #2e2e2e;
    box-shadow: 0px 0px 3px -0.5px rgba(0, 0, 0, 1) inset;
    background: #222;
    min-width: 200px;
    margin: 5px;
    height: 70px;
}

.advantage {
    align-items: center;
    height: auto;
    width: auto;
    flex-direction: column;
    max-width: 100px;
    padding: 10px;
}

.adv-title {
    margin: 5px 0;
}

.advantage>div {
    text-align: center;
}

.stat img,
.stat-inner {
    padding: 10px;
}

.stat img {
    height: 45%;
}

.online {
    position: relative;
    height: 45%;
    padding: 10px;
}

.online img {
    height: 100%;
    padding: 0;
}

.online::before {
    position: absolute;
    bottom: 8px;
    right: 8px;
    content: '';
    background-color: var(--green);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1;
}

#buyETH::before {
    content: 'you must be logged in';
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    white-space: nowrap;
    color: #7E7E7E;
    font-size: 70%;
}

#buyETH {
    position: relative;
}

.video-overview {
    width: 70%;
    aspect-ratio: 16/9;
    border: 1.9px solid #2e2e2e;
    box-shadow: 0px 0px 3px -0.5px rgba(0, 0, 0, 1) inset;
    background: #222;
    margin: 30px 0;
}

.video-overview iframe {
    width: 100% !important;
    height: 100% !important;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #2e2e2e;
    padding: 5px 0;
    box-shadow: 0px 0px 3px -0.5px rgba(0, 0, 0, 1) inset;
}

@media screen and (max-width: 700px) {
    .about .right {
        display: none;
    }
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: #222;
}

body::-webkit-scrollbar-thumb {
    background: var(--green);
}